.wp-smshare-wrapper div {
    float: left;
    margin-right: 10px;
}

.wp-smshare-wrapper div.share-on {
    padding: 5px;
    font-weight: bold;
}

.wp-smshare-wrapper div.platform {
    display: inline-block;
    padding: 8px 16px;
    margin: 2px 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    text-align: center;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.wp-smshare-wrapper div.platform a {
    color: white;
    text-decoration: none;
}

.wp-smshare-wrapper div.platform:hover {
    opacity: 0.7;
}

.wp-smshare-clear {
    clear: left;
}
